
<!DOCTYPE html>
<html>
<head>
  <title>Share</title>

  <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Everest Admin Panel" />
	<meta name="keywords" content="Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Wrapbootstrap, Bootstrap" />
	<meta name="author" content="Bootstrap Gallery" />
	<link rel="shortcut icon" href="img/favicon.ico">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>

</body>
</html>
